* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main,
.form-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#displayBooks,
.form-container {
  width: 50%;
  margin: 20px;
}
#displayBooks {
  border: 3px solid rgb(201, 201, 201);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input {
  width: 90%;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}

.btn {
  font-size: 20px;
  width: 80px;
  margin: 10px;
  padding: 5px;
  box-shadow: 7px 7px 6px rgb(201 201 201);
}
